{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div id="{{ ship.id }}" class="row" style="margin-top: 40px;">
    <div class="col-2"></div>

    <div class="col-4 pt-5">
        <img class="ship-photo" src="{{ ship.photo }}">
    </div>

    <div class="col-4 grid row-gap-3">
        <div class="pt-2 pb-2">
            <h1>{{ ship.name }}</h1>
            <h4>Год постройки: {{ ship.year }}</h4>
            <h4>Длинна: {{ ship.length }} м</h4>
            <h4>Водоизмещение: {{ ship.displacement }} т</h4>
            <h4>Страна: {{ ship.country }}</h4>
        </div>
        <div class="mb-5" style="text-align: justify">
            <p class="ship-description">{{ ship.description }}</p>
        </div>
    </div>

    <div class="col-2"></div>
</div>

{% endblock %}